@font-face {
	font-family: junegull;
	src: url('../../fonts/junegull.ttf');
}

body {
	font-family: junegull;
}

h1 {
	font-size: 70px;
	font-weight: 400;
	text-shadow: 4px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
	color: #000;
	margin:20px 0;
	text-align: center;
}

#header-panel {
	background-color: #f0ad4e;
    border-radius: 5px;
    margin: 15px;
    padding: 15px 0;
    width: 98%;
    text-align: center;
}

#photo-panel {
    background-color: #f0ad4e;
    border-radius: 5px;
    margin: 15px;
    padding: 30px 0;
    width: 98%;
    text-align: center;
}

#photo-content {
	text-align: left;
}

#image-style {
	border: 5px solid #fff;
	border-radius: 5px;
	-webkit-transition: all .15s linear;
  	-moz-transition: all .15s linear;
  	transition: all .15s linear;
}

/*#image-style:hover{
	-webkit-transform: rotate(0deg); 
	-moz-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transform: scale(1.2); 
	-moz-transform: scale(1.2);
	transform: scale(1.2);
}*/

#social-icons img {
	width: 5%;
	margin-right: 15px;
}

#link-panel {
	display: inline-flex;
}

#link-panel > a {
	margin-right: 15px;
}

#inner-panel {
	padding: 0 0 150px 47px;
	text-align: left;
}

