@font-face {
	font-family: junegull;
	src: url('../fonts/junegull.ttf');
}
body {
	font-family: junegull;
}
h1 {
	font-size: 70px;
	font-weight: 400;
	text-shadow: 4px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
	color: #333;
	margin:20px 0;
	text-align: center;
}
input {
	display:inline;
}
#header-panel {
	background-color: #AEC6CF;
    border-radius: 10px;
    margin: 15px;
    padding: 15px 0;
    width: 98%;
    text-align: center;
}
#photo-panel {
    background-color: #AEC6CF;
    border-radius: 10px;
    margin: 15px;
    padding: 30px 0;
    width: 98%;
    text-align: center;
}
#image-style, #chosen {
	border-radius: 5px;
	border: 2px solid #fff;
	margin-bottom: 20px;
	width: 240px;
	height: 180px;
    overflow: hidden;
}
#chosen:hover{
	-webkit-transform: rotate(0deg); 
	-moz-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transform: scale(1.2); 
	-moz-transform: scale(1.2);
	transform: scale(1.2);
}
@media screen and (min-width:800px) {
    #link-panel {
		display: flex;
		text-align: left;
	}
    #publish-date {
        display: none;
    }
    #publish-date-mid {
        display: inline-block;
        margin-right: 15px;
    }
    #photo-content {
    	text-align: left;
    	line-height: initial;
	}
	#inner-panel {
		text-align: left;
		margin-left: 100px;
	}
}
@media screen and (max-width:800px) {
    #link-panel {
		display: inline-flex;
		text-align: center;
	}
    #publish-date {
	    display: block;
	}
    #publish-date-mid {
        display: none;
    }
	#photo-content {
		text-align: center;
		line-height: initial;
	}
	#inner-panel {
	text-align: center;
	margin-left: 0px;
	}
}
#social-icons img {
    width: 8%;
    margin-right: 15px;
    border-radius: 10px;;
}
#social-icons img:hover {
	opacity: 0.7;
}
#flickr-link {
	margin-right: 15px;
}
#tag-button {
	margin-bottom: 15px;
}


