<div class="row">
  <div id="header-panel">
    <h1>Flickr Public Feed</h1> 
    <div style="margin: 0 auto; width: 50%;" id="custom-search-input">
      <div style="margin-bottom: 20px;" class="input-group col-md-12">
          <input type="text" id="search-bar" class="form-control input-lg" ng-model="query" placeholder="Enter something..." />
          <span class="input-group-btn">
              <button class="btn btn-primary btn-lg" id="search-button" type="button" ng-click="fetchPhotos()">
                  <i class="glyphicon glyphicon-search"></i>
              </button>
          </span>
      </div>
    </div>
  </div>                 
  <div ng-repeat="item in feeds.items | limitTo:limit track by $index">
    <div id="photo-panel" class="col-md-12" >
      <div class="col-md-4">
        <a ng-href="#/photo/{{$index}}"><img id="image-style" ng-src="{{item.media.m}}"></a>
      </div>
      <div id="photo-content" class="col-md-7">
        <div style="font-size:30px;">{{item.title}}</div>
        <div id="photo-details">
          <div id="publish-date"><h4>Published, {{item.published | date:'medium'}}</h4></div>
          <div id="link-panel">
            <a id="flickr-link" href="https://www.flickr.com/photos/{{$index}}"><h4>Photo Author</h4></a>
            <div id="publish-date-mid"><h4>Published, {{item.published | date:'medium'}}</h4></div>
            <a id="flickr-link" href="{{item.link}}"><h4>View on Flickr</h4></a>
          </div>
        </div>
        <div id='social-icons'>
          <a href='https://www.facebook.com/sharer/sharer.php?u={{item.link}}'><img src='../images/facebook.png'/></a>
          <a href='https://twitter.com/home?status={{item.link}}'><img src='../images/twitter.png'/></a>
          <a href='https://pinterest.com/pin/create/button/?url={{item.link}}'><img src='../images/pintrest.png'/></a>
          <div class="g-plusone" data-annotation="inline" data-width="300"><g:plusone></g:plusone></div>
        </div>
      </div>
    </div>
  </div>
  <button id="load-more" type="button" style="width:100%" class="btn btn-primary btn-lg" ng-click='loadMore()'>Load More</button>
</div>