<div class="row">
  <div id="header-panel">
    <h1>Flickr Gallery</h1> 
    <a ng-href="#/main/"><input type="button" href="#/main" value="Back"/></a>
  </div>                 
  <div ng-repeat="item in feeds.items[$index]">
    <div id="photo-panel" class="col-md-12" >
      <div id="inner-panel">
        <div id="link-panel" class="col-md-12" >
          <a href="{{item.link}}"><h2>{{item.title}}</h2></a>
        </div>
        <div id="link-panel" class="col-md-12" >
          <a href="{{item.author}}"><h3>Photo Author</h3></a><h3>Published, {{item.published | date:"MM/dd/yyyy 'at' h:mma"}}</h3>
        </div>
      </div>
      <div class="col-md-12" >
        <div class="col-md-4">
          <img id="image-style" ng-src="{{item.media.m}}">
        </div>
        <div id="photo-content" class="col-md-7">
          <p>{{item.description}}</p>
          <div id='social-icons'>
            <a href='https://www.facebook.com/sharer/sharer.php?u={{item.link}}"'><img src='../images/facebook.png'/></a>
            <a href='https://twitter.com/home?status={{item.link}}"'><img src='../images/twitter.png'/></a>
            <a href='https://pinterest.com/pin/create/button/?url="{{item.link}}"'><img src='../images/pintrest.png'/></a>
          </div>
        </div>
      </div>
    </div>

</div>